* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: 'Sriracha', cursive;
}

html {
    font-size: 10px;
}

@media screen and (min-width : 657px) {
    html{
        font-size: 8px;
    }
}
@media screen and (max-width : 401px) {
    html{
        font-size: 8px;
    }
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
    padding-top: 20px;
}

article {
    flex-grow: 1;
    flex-basis: 280px;
    height: 300px;
    background-color: pink;
    margin: 20px 20px 10px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
}

* > div:first-child * {
    font-size: 2rem;
    margin: 1rem 0px 1rem 1rem;
    width: 100%;
    height: 30%;
}
* > div:first-child > p{
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 1.6rem;
}
* > div:first-child h2 {
    font-size: 2.2rem;
}

* > div:last-child {
    font-size: 2rem;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0px 0px 2rem;
}
.geolocation > div:last-child p:nth-child(n+3) {
    margin-top: 1rem;
    margin-left: 1.6rem;

}

/* em {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

em {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    animation: gradient 15s ease infinite;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
